<!DOCTYPE html>
<html>
<head>
  <title>Product Manager</title>
</head>
<body>
  <h1>Product Manager</h1>
  <ul>
    <% products.forEach(function(product) { %>
      <li><%= product.ProductName %></li>
    <% }); %>
  </ul>
</body>
</html>
